* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');

body {
  font-family: "Fredoka", sans-serif;
  background-color: rgb(94, 94, 232);
  opacity: 0.9;
  cursor: default;
}

section {
  display: none;
}

#file-section.visible,
#text-section.visible {
  display: block;
  animation: fadeIn .5s forwards ease;
}

section .title div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
}

section .title h1 {
  letter-spacing: 3px;
  font-size: 2.5rem;
}

section .title i {
  margin-left: .7rem;
}

section .welcomeMessage {
  font-family: "Caveat", cursive;
  font-size: 1.3rem;
  font-weight: lighter;
  line-height: 1.5rem;
  letter-spacing: 2px;
  margin-top: 1rem;  
}

#file-section,
#text-section {
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 2rem;
}

/* ====================== FILE SECTION ====================== */
#file-section hr {
  margin: 1rem 0;
}

#file-section form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 20rem;
  min-height: 35rem;
}

#file-section h4 {
  margin-bottom: .6rem;
}

#wrapper {
  border: 1px solid rgba(94, 94, 232, 0.623);
  padding: 1rem;
  border-radius: 8px;
  text-align: start;
  display: flex;
  flex-flow: column nowrap;
  height: 13rem;
  justify-content: space-between;
}

#wrapper label {
  display: block;
  margin-bottom: .1rem;
}

#wrapper input {
  padding: .3rem;
  font-size: 1rem;
  width: 100%;
  outline: none;
}

.tips,
#file-area,
.submit-area {
  font-size: 1rem;
}

.submit-area {
  display: flex;
  gap: 4rem;
  margin-top: 2rem;
}

.submit-area button i {
  margin-left: .5rem;
}

.mainBtn {
  width: 100%;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  padding: 10px;
  border: 2px solid rgb(80, 80, 80);
}

#sendFileBtn {
  background-color: #5e5ee8;
}

#sendFileBtn.sending {
  background-color: green;
  content: "Teste";
}

#goBackBtn {
  background-color: rgb(255, 55, 55);
}

#downloadBtn {
  background-color: #5e5ee8;
}

#formatBtn {
  background-color: rgb(229, 149, 0);
}

#allowBtn {
  background-color: rgb(0, 173, 0);
}

#noSelectedFile {
  font-size: .8rem;
  color: red;
  display: none;
}

#noSelectedFile.visible {
  display: block;
  position: absolute;
  bottom: 5.6rem;
  left: 50%;
  transform: translateX(-50%);
}

/* ====================== TEXT SECTION ====================== */
#text-section #text-form {
  width: 75rem;
  height: 45rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#text-section #text-area {
  resize: none;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding: 1rem;
  margin-top: 1rem;
  font-size: 1.2rem;
}

#errorMessage {
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: .8rem;
  color: red;
  display: none;
}

#errorMessage.visible {
  display: block;
}

/* ====================== FLOATING SECTION ====================== */
#floatingSection {
  width: 40%;
  height: 100vh;
  background-color: black;
  opacity: 0.9;
  color: white;
  padding: 2rem;
  text-align: end;
  overflow: auto;
  font-size: .9rem;
  letter-spacing: 2px;
  position: absolute;
}

#floatingSection #text-theme {
  font-weight: lighter;
}

#floatingSection #correction {
  font-size: 1rem;
  text-align: start;
  font-weight: lighter;
}

#floatingSection.visible {
  display: block;
  animation: correction forwards 1s ease;
}

#floatingSection #student {
  text-align: center;
  margin: 0 auto;
  width: 70%;
  margin-bottom: 4rem;
}

#theme,
#note {
  font-weight: lighter;
}

#floatingSection hr {
  margin: 3rem 0;
}

#closeBtn {
  background: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  margin-bottom: 2rem;
}

/* ====================== ANIMATION ====================== */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}

@keyframes correction {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}